.container {
    width: 300px;
    height: 500px;
    background-color: lightgrey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid gray;
    border-radius: 10px;
  }

input{
    margin-top: 30px;
    border-radius: 10px;

}

.displayWindow {
    margin: auto;
    padding: 2px;
    width: 290px;
    height: 140px;
    display: flex;
    align-items: center;
  }
  
  /* Align the text to the right within the input element */
  #result {
    width: 100%;
    height: 40%;
    font-size: 70px;
    text-align: right;
    vertical-align: bottom; /* Align the text to the right */
    padding-right: 10px;
    padding-top: 70px;
    margin-bottom: 20px;
    border: 2px solid grey;
  }

.innerBox{
    margin: auto;
    width: 290px;
    height: 350px;
    background-color: red;
    display: flex;

}

.tools{
    background-color: blue;
    display: flex;
}

.tools button{
    width: 73.4px;
    height: 70px;
    background-color: lightgrey;
}

.numbers {
    width: 220px;
    height: 300px;
    background-color: purple;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create 3 equal-width columns */ /* Add some spacing between buttons */
  }
  
  /* Style the zero button separately to make it twice the width */
  .numbers button[value="0"] {
    grid-column: span 2; /* Make the zero button span 2 columns */
  }

  .numbers button{
    background-color: white;
  }



.innerBoxLeft{
    display: flex;
    flex-direction: column;
    width: 300px;
    display: flex;
}

.innerBoxRight {
    width: 75px; /* Adjust the width as needed */
    height: 300px;
    background-color: purple;
    display: grid;
    grid-gap: 5px;
  }
  
  /* Style the buttons in innerBoxRight to match the number buttons */
  .innerBoxRight button {
    width: 70px; /* Adjust the width as needed */
    height: 70px;
    background-color: orange;
  }

  button {
    transition: transform 0.2s ease; 
  }
  
  button:hover {
    transform: scale(1.1); /* Scale the button by 10% when hovered */
  }
  
  button:active {
    transform: scale(1); /* Scale the button back to its original size when pressed */
  }

  button.active {
    transform: scale(1.1);
  }